{% extends 'exam/admin-base.html' %}

{% block content %}

<h3 id="menu_heading">Exam Updation</h3></br>
<form class="form-horizontal inputForm" action="" method="POST" accept-charset="utf-8">
{% csrf_token %}

{% for field in exam_form %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="field">{{ field.label }} {{ form.errors }}</label>
      <div class="col-sm-4">
		{{ field }}
		<p>{{ field.errors }}</p>
		</div>
    </div>
{% endfor %}

<div class="form-group">
 <div class="col-sm-offset-2 col-sm-10 form-submit-button">
<a class="btn btn-default" href="{% url 'exam:admin-exam' %}">Back</a>&nbsp;&nbsp;&nbsp;
<button class="btn btn-success save-continue" type="submit">Save</button>&nbsp;&nbsp;
<a class="btn btn-success" href="{% url "exam:admin-assignment-create" %}?exam={{ exam_form.instance.id }}">Add to Assignment</a>
</div>
</div>
</form>
{% endblock %}