{% extends 'exam/base.html' %}

{% block title %}{{ block.super }} || login Page{% endblock %}

{% block content %}
<h2 id="menu_heading">Login</h2>
{% if failure %}
	<h4 id="heading_info">Invalid Credentials</h4>
{% endif %}
	<form method="POST" action=".">
	{% csrf_token %}
		{{ login_form.as_p }}
		<button class="btn btn-success" type="submit">Login</button>
		<button class="btn btn-default" type="reset">reset</button>
	</form>
	<h4>New User ?. <a href="{% url 'exam:register' %}">Register</a></h4>

{% endblock %}